<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><!--[if IE]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie-browser" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"><![endif]--><!--[if !IE]><!-->
<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml"><!--<![endif]-->
<head>
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
    <title>{{data.project_acronym}}</title>
    <!--[if !mso]><!-- -->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!--<![endif]-->

    <style type="text/css" id="media-query">
        body {
            margin: 0;
            padding: 0;
        }

        table, tr, td {
            vertical-align: top;
            border-collapse: collapse;
        }

        .ie-browser table, .mso-container table {
            table-layout: fixed;
        }

        * {
            line-height: inherit;
        }

        a[x-apple-data-detectors=true] {
            color: inherit !important;
            text-decoration: none !important;
        }

        [owa] .img-container div, [owa] .img-container button {
            display: block !important;
        }

        [owa] .fullwidth button {
            width: 100% !important;
        }

        .ie-browser .col, [owa] .block-grid .col {
            display: table-cell;
            float: none !important;
            vertical-align: top;
        }

        .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
            width: 500px !important;
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
            width: 164px !important;
        }

        .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
            width: 328px !important;
        }

        .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
            width: 250px !important;
        }

        .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
            width: 166px !important;
        }

        .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
            width: 125px !important;
        }

        .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
            width: 100px !important;
        }

        .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
            width: 83px !important;
        }

        .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
            width: 71px !important;
        }

        .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
            width: 62px !important;
        }

        .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
            width: 55px !important;
        }

        .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
            width: 50px !important;
        }

        .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
            width: 45px !important;
        }

        .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
            width: 41px !important;
        }

        @media only screen and (min-width: 520px) {
            .block-grid {
                width: 500px !important;
            }

            .block-grid .col {
                display: table-cell;
                Float: none !important;
                vertical-align: top;
            }

            .block-grid .col.num12 {
                width: 500px !important;
            }

            .block-grid.mixed-two-up .col.num4 {
                width: 164px !important;
            }

            .block-grid.mixed-two-up .col.num8 {
                width: 328px !important;
            }

            .block-grid.two-up .col {
                width: 250px !important;
            }

            .block-grid.three-up .col {
                width: 166px !important;
            }

            .block-grid.four-up .col {
                width: 125px !important;
            }

            .block-grid.five-up .col {
                width: 100px !important;
            }

            .block-grid.six-up .col {
                width: 83px !important;
            }

            .block-grid.seven-up .col {
                width: 71px !important;
            }

            .block-grid.eight-up .col {
                width: 62px !important;
            }

            .block-grid.nine-up .col {
                width: 55px !important;
            }

            .block-grid.ten-up .col {
                width: 50px !important;
            }

            .block-grid.eleven-up .col {
                width: 45px !important;
            }

            .block-grid.twelve-up .col {
                width: 41px !important;
            }
        }

        @media (max-width: 520px) {
            .block-grid, .col {
                min-width: 320px !important;
                max-width: 100% !important;
            }

            .block-grid {
                width: calc(100% - 40px) !important;
            }

            .col {
                width: 100% !important;
            }

            .col > div {
                margin: 0 auto;
            }

            img.fullwidth {
                max-width: 100% !important;
            }
        }

        .demand-link{
            text-decoration: none !important;
            color: #333;
        }

              .demand-details{
            background-color: white;
            border-radius: 3px;
            border: 1px solid #e7e7e7;
            padding: 20px 10px 10px 10px;
            margin-bottom: 5px;
            box-sizing: border-box !important;
            border-collapse: collapse;
        }

        .demand-details-subtitle{
            background-color: white;
            border-collapse: collapse;
        }

        .demand-details-subtitle-item{
            display: inline-block;
        }

        .demand-details-table{
            background-color: white;
            width: 480px;
        }


        .force-padding{
            margin: 10px !important;
        }


        .label {
            background-color: #d32f2e;
            border-bottom-left-radius: 3.5px;
            border-bottom-right-radius: 3.5px;
            border-top-left-radius: 3.5px;
            border-top-right-radius: 3.5px;
            box-sizing: border-box;
            color: white;
            display: inline-block;
            font-size: 14px;
            height: 26px;
            line-height: 16px;
            margin-right: 0px;
            padding-bottom: 5px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            text-align: center;
            text-size-adjust: 100%;
            vertical-align: baseline;
            white-space: normal;
        }

        .small-title {
            color: #999;
            display: inline-block;
            font-size: 10px;
            margin-right: 10px;
            text-transform: uppercase;
            font-weight: 800;

        }

        .title-text{
            font-weight: 300;
            line-height: 1.7;
            font-size: 14px;
        }

        .demand-details-deadline.EXPIRED, .deadline-title{
            color: #d32f2e;
            font-size: 16px;
            float: right;
            position: relative;
            top:3px;
        }



        .demand-details-deadline.EXPIRED .small-title{
            position: relative;
            top:-2px;
        }




    </style>
</head>
<!--[if mso]>
<body class="mso-container" style="background-color:#FFFFFF;">
<![endif]-->
<!--[if !mso]><!-->
<body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF">
<!--<![endif]-->
<div class="nl-container" style="min-width: 320px;Margin: 0 auto;background-color: #FFFFFF">
    <!--[if (mso)|(IE)]>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td align="center" style="background-color: #FFFFFF;"><![endif]-->

    <div style="background-color:#FFFFFF;">
        <div style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"
             class="block-grid two-up">
            <div style="border-collapse: collapse;display: table;width: 100%;">
                <!--[if (mso)|(IE)]>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="background-color:#FFFFFF;" align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="width: 500px;">
                                <tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

                <!--[if (mso)|(IE)]>
                <td align="center" width="250"
                    style=" width:250px; padding-right: 0px; padding-left: 0px; padding-top:20px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;"
                    valign="top"><![endif]-->
                <div class="col num6"
                     style="Float: left;max-width: 320px;min-width: 250px;width: 250px;width: calc(35250px - 7000%);background-color: transparent;">
                    <div style="background-color: transparent; width: 100% !important;">
                        <!--[if (!mso)&(!IE)]><!-->
                        <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:20px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
                            <!--<![endif]-->


                            <div align="center" class="img-container center fullwidth"
                                 style="padding-right: 0px;  padding-left: 0px;">
                                <!--[if mso]>
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]-->
                                <div style="line-height:5px;font-size:1px">&nbsp;</div>
                                <a href="http://www.fao.org" target="_blank">
                                    <img class="center fullwidth" align="center" border="0"
                                         src="https://dgms.fao.org/static/fao-logo.svg"
                                         alt="FAO-logo" title="FAO-logo"
                                         style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;width: 100%;max-width: 250px"
                                         width="250">
                                </a>
                                <!--[if mso]></td></tr></table><![endif]-->
                            </div>


                            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                    </div>
                </div>
                <!--[if (mso)|(IE)]></td>
            <td align="center" width="250"
                style=" width:250px; padding-right: 0px; padding-left: 0px; padding-top:20px; padding-bottom:20px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;"
                valign="top"><![endif]-->
                <div class="col num6"
                     style="Float: left;max-width: 320px;min-width: 250px;width: 250px;width: calc(35250px - 7000%);background-color: transparent;">
                    <div style="background-color: transparent; width: 100% !important;">
                        <!--[if (!mso)&(!IE)]><!-->
                        <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:20px; padding-bottom:20px; padding-right: 0px; padding-left: 0px;">
                            <!--<![endif]-->


                            <!--[if mso]>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="padding-right: 10px; padding-left: 10px; padding-top: 20px; padding-bottom: 20px;">
                            <![endif]-->
                            <div style="padding-right: 10px; padding-left: 10px; padding-top: 20px; padding-bottom: 20px;">
                                <div style="font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size:12px;line-height:18px;color:#6E6F7A;text-align:left;">
                                    <p style="margin: 0;font-size: 12px;line-height: 18px;text-align: right"><span
                                            style="color: rgb(25, 118, 211); font-size: 18px; line-height: 27px;"><strong><span
                                            style="line-height: 27px; font-size: 18px; font-weight: 400">{{data.project_acronym}}</span></strong></span></p>
                                </div>
                            </div>
                            <!--[if mso]></td></tr></table><![endif]-->


                            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                    </div>
                </div>
                <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
        </div>
    </div>
    <div style="background-color:#f3f3f5;">
        <div style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"
             class="block-grid ">
            <div style="border-collapse: collapse;display: table;width: 100%;">
                <!--[if (mso)|(IE)]>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="background-color:#f3f3f5;" align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="width: 500px;">
                                <tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

                <!--[if (mso)|(IE)]>
                <td align="center" width="500"
                    style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;"
                    valign="top"><![endif]-->
                <div class="col num12"
                     style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: transparent;">
                    <div style="background-color: transparent; width: 100% !important;">
                        <!--[if (!mso)&(!IE)]><!-->
                        <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;">
                            <!--<![endif]-->


                            <div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                                <!--[if (mso)]>
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td style="padding-right: 10px;padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                                            <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                   border="0">
                                                <tr>
                                                    <td><![endif]-->
                                <div align="center">
                                    <div style="border-top: 10px solid transparent; width:100%;">&nbsp;</div>
                                </div>
                                <!--[if (mso)]></td></tr></table></td></tr></table><![endif]-->
                            </div>


                            <!--[if mso]>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <![endif]-->
                            <div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                                <div style="font-size:12px;line-height:22px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;color:#555555;text-align:left;">



                                    <p style="margin: 0;font-size: 14px;line-height: 25px">
                                      <span style="font-size: 16px; line-height: 28px;">Dear colleague,</span>
                                      <br>

                                      {{#if data.iterations}}
                                        <span style="font-size: 16px; line-height: 28px;">The below-mentioned assignments assigned to you by the {{ data.sender }} include recurring deliveries that are overdue and you are requested to take immediate action.</span><br>
                                      {{else}}
                                        <span style="font-size: 16px; line-height: 28px;">The below-mentioned assignments assigned to you by the {{ data.sender }} are overdue and you are requested to take immediate action.</span><br>
                                      {{/if}}

                                    </p>

                                    <br>

                                     {{#each data.demands}}
                                        <div class="demand-details-table-holder">
                                        <table class="demand-details-table head" style="font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                                            <tr>
                                                <td><div class="force-padding">
                                                    <span class="label label-danger">Expired</span>
                                                </div>
                                                </td>
                                                <td style="width: 230px">
                                                    <div class="force-padding">
                                                        <span class="small-title" > Deadline </span><span class="deadline-title" style="color: #d32f2e !important;">{{deadline}}</span></div>
                                                </td>

                                            </tr>


                                        </table>
                                        <table class="demand-details-table body" style="font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">
                                            <tr>
                                                <td>
                                                    <div class="force-padding">
                                                        <h2><span class="title-text">{{title}}</span></h2></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br>
                                    {{/each}}





                                    <br>
                                    <p style="margin: 0;font-size: 14px;line-height: 25px"><span
                                            style="font-size: 16px; line-height: 28px;">Please click the button below to view details and take requisite action.</span>
                                    </p></div>
                            </div>
                            <!--[if mso]></td></tr></table><![endif]-->

                            <div align="center" class="button-container center"
                                 style="Margin-right: 10px;Margin-left: 10px;">
                                <div style="line-height:15px;font-size:1px">&nbsp;</div>
                                <a href="{{data.deepLink}}" target="_blank"
                                   style="color: #ffffff; text-decoration: none;">


                                    <div style="color: #ffffff; background-color: #1976d3; border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; max-width: 128px; width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 0px; padding-right: 15px; padding-bottom: 0px; padding-left: 15px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; text-align: center;">

                                        <span style="font-size:16px;line-height:32px;"><span
                                                style="font-size: 14px; line-height: 28px;"
                                                data-mce-style="font-size: 14px;">See the details</span></span>

                                    </div>

                                </a>
                                <div style="line-height:10px;font-size:1px">&nbsp;</div>
                            </div>


                            <!--[if mso]>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                            <![endif]-->
                            <div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                                <div style="font-size:12px;line-height:22px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;color:#555555;text-align:left;">
                                    <p style="margin: 0;font-size: 14px;line-height: 25px"><span
                                            style="font-size: 16px; line-height: 28px;">Thank you.</span></p>
                                    <p style="margin: 0;font-size: 14px;line-height: 25px"><br><span
                                            style="font-size: 16px; line-height: 28px;">{{data.project_name}} ({{data.project_acronym}})</span><br>
                                    </p>
                                    <p style="margin: 0;font-size: 14px;line-height: 25px">&nbsp;<br></p>
                                    <p style="margin: 0;font-size: 14px;line-height: 25px"><br></p></div>
                            </div>
                            <!--[if mso]></td></tr></table><![endif]-->


                            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                    </div>
                </div>
                <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
        </div>
    </div>
    <div style="background-color:#e6e6e6;">
        <div style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"
             class="block-grid ">
            <div style="border-collapse: collapse;display: table;width: 100%;">
                <!--[if (mso)|(IE)]>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="background-color:#e6e6e6;" align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="width: 500px;">
                                <tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

                <!--[if (mso)|(IE)]>
                <td align="center" width="500"
                    style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:30px; padding-bottom:30px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;"
                    valign="top"><![endif]-->
                <div class="col num12"
                     style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: transparent;">
                    <div style="background-color: transparent; width: 100% !important;">
                        <!--[if (!mso)&(!IE)]><!-->
                        <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:30px; padding-bottom:30px; padding-right: 0px; padding-left: 0px;">
                            <!--<![endif]-->


                            <div style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                                <!--[if (mso)]>
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td style="padding-right: 10px;padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                                            <table width="100%" align="center" cellpadding="0" cellspacing="0"
                                                   border="0">
                                                <tr>
                                                    <td><![endif]-->
                                <div align="center">
                                    <div style="border-top: 0px solid transparent; width:100%; font-size:12px;line-height:22px;font-family:&quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;color:#555555;">
                                        If the button it is not working, please press the link below<br>
                                        <a href="{{data.deepLink}}">{{data.deepLink}}</a>
                                    </div>
                                </div>
                                <!--[if (mso)]></td></tr></table></td></tr></table><![endif]-->
                            </div>


                            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                    </div>
                </div>
                <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
        </div>
    </div>
    <div style="background-color:#ffffff;">
        <div style="Margin: 0 auto;min-width: 320px;max-width: 500px;width: 500px;width: calc(19000% - 98300px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"
             class="block-grid ">
            <div style="border-collapse: collapse;display: table;width: 100%;">
                <!--[if (mso)|(IE)]>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="background-color:#ffffff;" align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="width: 500px;">
                                <tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

                <!--[if (mso)|(IE)]>
                <td align="center" width="500"
                    style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:30px; padding-bottom:30px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;"
                    valign="top"><![endif]-->
                <div class="col num12"
                     style="min-width: 320px;max-width: 500px;width: 500px;width: calc(18000% - 89500px);background-color: transparent;">
                    <div style="background-color: transparent; width: 100% !important;">
                        <!--[if (!mso)&(!IE)]><!-->
                        <div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:30px; padding-bottom:30px; padding-right: 0px; padding-left: 0px;">
                            <!--<![endif]-->


                            <!--[if mso]>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="padding-right: 10px; padding-left: 10px; padding-top: 15px; padding-bottom: 10px;">
                            <![endif]-->
                            <div style="padding-right: 10px; padding-left: 10px; padding-top: 15px; padding-bottom: 10px;">
                                <div style="font-size:12px;line-height:18px;color:#959595;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
                                    <p style="margin: 0;font-size: 14px;line-height: 21px;text-align: center">Please do
                                        not reply to this email</p></div>
                            </div>
                            <!--[if mso]></td></tr></table><![endif]-->


                            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
                    </div>
                </div>
                <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
            </div>
        </div>
    </div>
    <!--[if (mso)|(IE)]></td></tr></table><![endif]-->
</div>


</body>
</html>
